<%- include('./partials/header.ejs')%>
    <section class="container maincontent">
        <div class="row">
            <div class="col-5"></div>
            <div class="col mt-4 homeinfo text-center">
                <h3>Welcome to Game Haven! Your premiere online storefront for used video games!</h3>
                <p class="text-center">At Game Haven, we pride ourselves on being a safe and secure storefront of games
                    of
                    all shapes and sizes!<br>To view what's in stock, click on the browse button. <br>To list a game for
                    sale, click on the sell button.<br> Have an account with us? click on the login button.<br>To list a
                    game for sale, click on the sell button.</p>

            </div>
        </div>
    </section>
    <div class="d-flex flex-grow-1"></div>
<%- include('./partials/footer.ejs')%>